<ion-view view-title="Help">
    <ion-content class="padding">
        <div class="list card">
            <div class="item item-divider">Recent Updates</div>
            <div class="item item-body">
                <div>
                    There is a fire in <b>sector 3</b>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">.col</div>
            <div class="col">.col</div>
            <div class="col">.col</div>
            <div class="col">.col</div>
            <div class="col">.col</div>
        </div>
        <div class="row">
            <div class="col">a</div>
            <div class="col">b</div>
            <div class="col">c</div>
            <div class="col">d</div>
        </div>
        <ion-checkbox ng-model="isChecked">Checkbox Label</ion-checkbox>
        {{ name }}
        
        <ion-spinner></ion-spinner>
    </ion-content>
</ion-view>